body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    font: normal 90%/1 PT Sans,Arial,sans-serif;
}

div {
    display: block;
}

/* --------------------------------------------- */

.main-navigation {
    position: fixed;
    width: 220px;
    height: 100%;
    overflow: visible;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    fonst-size: 14px;
}

.logo {
    position: relative;
    margin: 10px 10px 0;
    overflow: hidden;
}

.menu-categories {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.menu-categories .menu-item {
    display: flex;
    padding: 10px 5px 10px 15px;
}

.menu-categories .menu-item > a {
    text-decoration: none;
    color: inherit;
    padding-left: 20px;
}

.menu-categories .menu-item > .image {
    min-width: 24px;
    height: 22px;
    margin: auto 0;
    background-image: url("images/comp.png");
}

.menu-categories .menu-item:hover {
    background: #f5f5f5;
}

.menu-categories .menu-item.active {
    background: #f37f00;
    color: #fff;
}

.menu-categories .menu-item.active > .image {
    background-image: url("images/comp-active.png");
}

/* --------------------------------------------- */

.main-layout {
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    width: calc(100% - 220px);
    height: 100%;
}

/* --------------------------------------------- */

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
}

.header a {
    text-decoration: none;
    color: inherit;
    padding-bottom: 2px;
    border-bottom: 1px solid #d1d1d1;
}

.header-info {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-info .city {
    margin-right: 20px;
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: 1px solid #d1d1d1;
}

.header-info .city:after {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    content: "";
    margin-top: 5px;
    margin-left: 2px;
}

.header-info .phone {
    flex-grow: 1;
    line-height: 1.6em;
    font-size: 15px;
    color: #f37f00;
    font-weight: bold;
}

.header-info .header-menu {
    display: flex;
}

.header-info .header-menu .header-menu-item {
    margin-left: 10px;
    font-size: 12px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.header-info .header-menu .header-menu-item:hover {
    color: #f37f00;
}

.header-main {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-main .search-form {
    flex-grow: 1;
}

.header-main .search-wrapper {
    display: flex;
    width: 300px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #d1d1d1;
}

.header-main .search-wrapper img {
    width: 15px;
    height: 15px;
    margin: 5px;
}

.header-main .search-wrapper input[type=search] {
    width: 100%;
    line-height: 18px;
    outline: none;
    border: 0;
}

.header-main .wishes {
    padding-right: 15px;

    display: flex;
    align-items: center;
}

.header-main .wishes img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.header-main .basket {
    align-self: stretch;
    padding: 0 15px;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;

    display: flex;
    align-items: center;
}

.header-main .basket img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.header-main .basket a {
    text-decoration: none;
    color: inherit;
}

.header-main .user {
    padding: 0 15px;
}

.header-main .user span{
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: 1px solid #d1d1d1;
}

.header-main .user span:after {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    content: "";
    margin-top: 5px;
    margin-left: 2px;
}

/* --------------------------------------------- */

.scroll-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    /*margin-left: 220px;*/
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    background: #f9f9f9;
}

.scroll-top:hover {
    color: #fff;
    background: #f37f00;
}

.scroll-top .scroll-top-arrow {
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border-top: 2px solid #f37f00;
    border-right: 2px solid #f37f00;
    transform: rotate(-45deg);
}

.scroll-top:hover .scroll-top-arrow {
    border-color: #fff;
}

.scroll-top .scroll-top-offset {
    width: 220px;
}

/* --------------------------------------------- */

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 20px;
    padding: 25px;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer .footer-header-group {
    grid-column: 1/-1;
    display: flex;
}

.footer .contacts {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.footer .contacts .phone-number {
    padding: 0 5px;
    color: #f37f00;
    font-size: 15px;
    font-weight: bold;
}

.footer .social-group {
    display: flex;
    align-items: center;
}

.footer .social-group .social-ico-link {
    width: 29px;
    height: 29px;
    margin-left: 5px;
}

.footer .social-group .ico-fb {
    background-image: url("images/ico_fb29.png");
}

.footer .social-group .ico-fb:hover {
    background-image: url("images/ico_fb29_a.png");
}

.footer .social-group .ico-tw {
    background-image: url("images/ico_tw29.png");
}

.footer .social-group .ico-tw:hover {
    background-image: url("images/ico_tw29_a.png");
}

.footer .social-group .ico-in {
    background-image: url("images/ico_in29.png");
}

.footer .social-group .ico-in:hover {
    background-image: url("images/ico_in29_a.png");
}

.footer .social-group .ico-yt {
    background-image: url("images/ico_yt29.png");
}

.footer .social-group .ico-yt:hover {
    background-image: url("images/ico_yt29_a.png");
}

.footer .social-group .ico-vk {
    background-image: url("images/ico_vk29.png");
}

.footer .social-group .ico-vk:hover {
    background-image: url("images/ico_vk29_a.png");
}

.footer .social-group .ico-ok {
    background-image: url("images/ico_ok29.png");
}

.footer .social-group .ico-ok:hover {
    background-image: url("images/ico_ok29_a.png");
}

.footer .footer-nav-menu-company {
    grid-column: 1/2;
}

.footer .footer-nav-menu-help {
    grid-column: 2/3;
}

.footer .footer-nav-menu-service {
    grid-column: 3/4;
}

.footer .footer-nav-menu-other {
    grid-column: 4/5;
}

.footer .footer-nav-menu-title {
    color: #a7a7a7;
    font-weight: 700;
    line-height: 1.6em;
    text-transform: uppercase;
}

.footer .footer-nav-menu-item {
    font-size: 13.5px;
    margin-bottom: 20px;
}

.footer .footer-nav-menu-item-link:hover {
    color: #f37f00;
}

/* --------------------------------------------- */